.modern {
    /*make it look like there is no border*/
    border: 1;
    border-color: rgb(100, 100, 100);
    border-style: solid;

    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    background-color: rgb(100, 100, 100);
}
.round {
    border-radius: 100px;
}

.square {
    border-radius: 0px;
}

.roundedSquare {
    border-radius: 5px;
}

.button:hover {
    filter: brightness(110%);
}

.button:active {
    filter: brightness(90%);
}