.modern_square {
    /*make it look like there is no border*/
    border: 1;
    border-color: rgb(100, 100, 100);
    border-style: solid;

    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 100px;
    background-color: rgb(100, 100, 100);
}

.modern_square:hover {
    filter: brightness(110%);
}

.modern_square:active {
    filter: brightness(90%);
}