#moneyHolder {
    border: 0px;
    width: 20px;

    /*center on page*/
    margin-left: auto;
    margin-right: auto;

    /*center text in box*/
    width:fit-content;
}

#money{
    
}

#mainButton {
    margin: 5px;
}

/*footer*/
#bottomInfo{
    /*TODO: make lower*/
}