/*centers text because html tecnically removed <center>*/
.centerText {
    text-align: center;
}

.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


#generalTopBar {
    height: auto;
    width: 100%;
    overflow: hidden;
    background-color: #66FFE6;
}

#picAndTitleLink {
    text-decoration: dashed;
    color: #000;
}

#generalFooterBox {
    width: 100%;
    background-color: #66FFE6;
}

/*desktop mode*/

#desktopDescription {
    width: 40%;
    line-height: 1.5;
    margin-bottom: 100px;
    margin-top: 50px;
}

#biography {
    width: 90%;
    margin-left: 1%;
    line-height: 1.5;
}

#desktopFooterBox {
    height: auto;
}

.desktopFooterText {
    float: left;
    margin-left: 15%;
    color: #000;
}

/*mobile mode*/
/*top bar*/
#mobileTitle {
    font-size: 300%;
}

/*index*/
#mobileQuote {
    font-size: 500%;
}

#mobileBookCover {
    width: 70%;
    height: 85vw;
}
#mobileDescription {
    width: 90%;
    margin-left: 5%;
    line-height: 1.5;
    font-size: xx-large;
}

/*aboutUs*/
#mobileAboutTheAuthor {
    font-size: xx-large;
}

#mobileBiography {
    font-size: xx-large;
}

/*footer*/
#meetCreatorMobile {
    font-size: xx-large;
}

#mobileLeftLinkBox {
    width: 45%;
}

#mobileRightLinkBox {
    width: 45%;
}

.mobileFooterText {
    margin: 0;
    color: #000;
    font-size: xx-large;
}

.left {
    float: left;
}

.right {
    float: right;
}