.footerText {
    float: left;
    margin-left: 15%;
    color: #000;
}

/*centers text because html tecnically removed <center>*/
.centered {
    text-align: center;
}

#description {
    width: 40%;
    line-height: 1.5;
    margin-bottom: 100px;
    margin-top: 50px;
}

#biography {
    width: 90%;
    margin-left: 1%;
    line-height: 1.5;
}

#topBar {
    height: auto;
    width: 100%;
    overflow: hidden;
}

#picAndTitleLink {
    text-decoration: dashed;
    color: #000;
}

#footerBox {
    height: auto;
    width: 100%;
}