.modern {
    /*make it look like there is no border*/
    border: 1;
    border-color: rgb(100, 100, 100);
    border-style: solid;

    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    background-color: rgb(100, 100, 100);
}

.border {
    border-color: rgb(50, 50, 50);
    border-width: 5px;
}

.round {
    border-radius: 100px;
}

.square {
    border-radius: 0px;
}

.roundedSquare {
    border-radius: 5px;
}

.button:hover {
    filter: brightness(110%);
    cursor: pointer;
}

.button:active {
    filter: brightness(90%);
}

/*got this from w3schools*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    /*slows down color*/
    -webkit-transition: .25s;
    transition: .25s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    /*slows down dot moving*/
    -webkit-transition: .25s;
    transition: .25s;
}

/*blue background when toggled*/
input:checked + .slider {
    background-color: #2196F3;
}

/*moves dot*/
input:checked + .slider:before {
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

/*round dot*/
.slider.round:before {
    border-radius: 50%;
}